@media only screen and (max-width:426px) and (min-width:321px) {
    .card{
        max-width: 500px;
        width: 95%;
        padding: 20px 15px;
    }
    .search input{
        height: 45px;
    }
    .search button{
        width: 45px;
        height: 45px;
    }
    .col i{
        font-size: 2.5em;
        margin-right: 10px;
    }
}
@media only screen and (max-width:321px){
    .card{
        width:100%;
        padding: 20px 10px;
    }
    .search input{
        width: 80%;
    }
    .details{
        display: grid;
        align-items: center;
        justify-content: space-around;
    }
    .col{
        margin: 5px 0;
    }
}
@media only screen and (min-width:2048px){
    .card{
        max-width: 2500px;
        padding: 60px;
    }
    .search input{
        padding: 70px 45px;
        font-size: 3em;
        margin-right: 30px;
    }
    .search button{
        width: 140px;
        height: 140px;
    }
    .search button i{
        font-size: 5em;
    }
    .bx.bx-cloud-light-rain{
        font-size: 6em;
        margin-top: 20px;
    }
    .weather h1{
        font-size: 4em;
        font-weight: 500;
    }
    .weather h2{
        font-size: 3em;
        font-weight: 400;
    }
    .col i{
        font-size: 5em;
        margin-right: 10px;
    }
    .humidity, .wind{
        font-size: 4em;
    }
    .col p:nth-child(2){
        font-size: 3em;
    }
}